//FONTS
@font-face {
    font-family: 'DomaineDisplay';
    src: url(../fonts/DomaineDispNar-RegularItalic.otf);
}
@font-face {
    font-family: 'Macan-bold';
    src: url(../fonts/macan-bold.ttf);
}
@font-face {
    font-family: 'Macan-light';
    src: url(../fonts/macan-light.ttf);
}
@font-face {
    font-family: 'Macan-regular';
    src: url(../fonts/macan-regular.3d263b5.woff2);
}
